Source: inviteflood
Section: utils
Priority: extra
Maintainer: Devon Kearns <dookie@kali.org>
Build-Depends: debhelper (>= 8.0.0), libnet1-dev
Standards-Version: 3.9.3
Homepage: http://www.hackingvoip.com/sec_tools.html
Vcs-Git: ssh://git@git.kali.org/packages/inviteflood.git
Vcs-Browser: http://git.kali.org/gitweb/?p=packages/inviteflood.git;a=summary

Package: inviteflood
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libnet1
Description: SIP/SDP INVITE message flooding over UDP/IP
 A tool to perform SIP/SDP INVITE message flooding over 
 UDP/IP. It was tested on a Linux Red Hat Fedora Core 4 
 platform (Pentium IV, 2.5 GHz), but it is expected this 
 tool will successfully build and execute on a variety of 
 Linux distributions.
